{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}

    h1>Hello World!</h1>

    <p>I'm "{{ name }}" and i am  "{{ randomNumber }} years old".</p><br />




{% endblock %}

